{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRE</h3>
        <hr>
        <form method="post" action="{{url_for('add_user')}}">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" required class="form-control">
            </div>
            <div class="form-group">
                <label>Marca</label>
                <input type="text" name="marca" required class="form-control">
            </div>
            <div class="form-group">
                <label>Numero</label>
                <input type="text" name="numero" required class="form-control">
            </div>
        </br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %}